<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
</head>
<body>
    <form action="" method="POST">
        <label for="product_id">Product ID:</label>
        <input type="text" name="product_id" id="product_id">
        <br>
        <label for="product_name">Product Name:</label>
        <input type="text" name="product_name" id="product_name">
        <br>
        <label for="product_price">Product Price:</label>
        <input type="text" name="product_price" id="product_price">
        <br>
        <label for="product_stock">Product Stock:</label>
        <input type="text" name="product_stock" id="product_stock">
        <br>
        <label for="product_supplier_id">Product Supplier ID:</label>
        <input type="text" name="product_supplier_id" id="product_supplier_id">
        <br>
        <input type="submit" value="Add Product">
    </form>
</body>
</html>